<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.id}}</td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>
  
      <!-- Stars Column -->
      <ng-container matColumnDef="Stars">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stars </th>
        <td mat-cell *matCellDef="let row"> 
          {{row.stars[0].name}}
        </td>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="ReleaseDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ReleaseDate </th>
        <td mat-cell *matCellDef="let row"> {{row.releaseDate}} </td>
      </ng-container>

      <!-- Rate Column -->
      <ng-container matColumnDef="Rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
        <td mat-cell *matCellDef="let row"> {{row.rate}} </td>
      </ng-container>

      <!-- MetaScore Column -->
      <ng-container matColumnDef="MetaScore">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MetaScore </th>
        <td mat-cell *matCellDef="let row"> {{row.metaScore}} </td>
      </ng-container>

    <!-- Language Column -->
    <ng-container matColumnDef="Genre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
        <td mat-cell *matCellDef="let row">
            {{row.genres[0]}}
        </td>

    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button (click)="watchedMovie(row.id)" color="primary">Ogl</button>
        </td>
  
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <div class="FormAndPagi">
        <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
  </div>