<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><img  src="./assets/logo.png"  style="width:50px;"></span>
        <a  mat-button  routerLink="/"  routerLinkActive="active">{{title}}</a>
        <a  mat-button  routerLink="/watchedList">Obejrzane</a>
        <a  mat-button  routerLink="/notWatchedList">Nie obejrzane</a>
        <a  mat-button  routerLink="/login">Zaloguj się</a>
        <a  mat-button  routerLink="/register">Zarejestruj się</a>
    </mat-toolbar-row>
</mat-toolbar>